.submitcontaine{
    display: flex;
    gap: 30px;
    margin: 60px auto;
    margin-left: 23cm;
    
}

.submi{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700px;
    cursor: pointer;
    
}

.submi:hover {
    background-color: blue;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
