.navbarlo{
    color: white;
    font-size: 30px;
    font-weight: 50px;
    margin-top: 10px;
    margin-left: 0cm;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}