
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #4066FA;
    padding: 10px 16px;
    margin-bottom: 26px;


}

.navbar-logo{
    color: white;
    font-size: 30px;
    font-weight: 50px;
    margin-top: 10px;
    margin-left: 25cm;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.navbar-menu li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 50px;
      
}

ul li:hover{
    font-weight: 50px;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    background-color:rgba(0,0,0,0.4);
}



.navbar-menu{
    display: flex;
    list-style-type: none;
    gap: 40px;
    margin: 0;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 8px;
}