.adjust{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: max(50vw, 400px);
    margin-top: 200px;
    background: #fff;
    padding-bottom: 30px;
    transform: scaleX(1.3);
    transform: scaleY(1.3);
    font-weight: 100px;
}
.label{
    font-weight: bold;
}